<launch>
    <arg name="wheel_base_width" default="0.483"/>
    <arg name="wheel_radius" default="0.1905"/>
    <arg name="param_file_name" default="mirv"/>
    <arg name="param_file_dir" default="$(find mirv_real)/GPS/config"/>
    <param name="api_host" type="String" value="20.236.228.19"/>
    <param name="api_port" type="String" value="8080"/>
    <param name="mirv_common_name" type="String" value="rover_1"/>
    <param name="api_username" type="String" value="rover_dev"/>
    <param name="api_password" type="String" value="1234"/>

    <!-- start control nodes -->
    <include file="$(find mirv_control)/launch/start_control.launch" pass_all_args="true"/>
    <remap from="/ublox/fix" to="/gps/fix"/>
    <include file="$(find ublox_gps)/launch/ublox_device.launch" pass_all_args="true"/>

    <!-- Transforms Stack -->
    <param name="robot_description" textfile="$(find mirv_description)/urdf/mirv_real.urdf"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node pkg="tf" type="static_transform_publisher" name="map_to_odom_tf_broadcaster"  args="0 0 0 0 0 0 /map /odom 1"/>

    <!-- start real-world nodes -->
    <!-- <node name="control" pkg="mirv_real" type="control"/> -->
    <!-- <node name="Cloud" pkg="mirv_control" type="roverClient.py"/> -->
    <node name="Canbus" pkg="mirv_real" type="canbus"/>
    <node name="IMUFilter" pkg="mirv_real" type="imuFilter.py"/>
    <!-- <node name="CloudConnection" pkg="mirv_control" type="CloudConnection.py"/> -->
    <!-- <node name="GPSCoordinates" pkg="mirv_real" type="RTKInput.py"/> -->
    <!-- <node name="camera" pkg="mirv_real" type="backCameraPublisher.py"/> -->
    <!-- <node name="EKF" pkg="mirv_control" type="EKF.py" output="screen"/> -->
    <node name="TruckCoordinateConversion" pkg="mirv_control" type="globalToTruck.py"/>
    <node name="intakeCameraPublisher" pkg="mirv_real" type="intakeCameraPublisher.py"/>
    <node name="piLitDetector" pkg="mirv_real" type="detectPiLits.py" />
    <node name="piLitPickup" pkg="mirv_control" type="moveToPiLit.py" output="screen"/>
    <node name="EKF" pkg="mirv_control" type="EKF.py"/>
    <node name="CloudAlServer" pkg="mirv_control" type="CloudAlServer.py"/>
    <node name="PurePursuitController" pkg="mirv_control" type="purePursuit.py" output="screen"/>
    <!-- <node name="OdometyDataUnfiltered" pkg="mirv_control" type="controllerFormatting.py"/> -->
</launch>
