<launch>
  <arg name="joystick" default="/dev/input/js0"/>

  <!-- Publish joystick state to /joy -->
  <node type="joy_node" name="joystick_input" pkg="joy" >
    <param name="dev" value="$(arg joystick)"/>
  </node>

  <!-- Take joystick input on /joy and publish control on /cmd_vel. Hold A and use the left joystick to control the robot -->
  <node type="teleop_node" name="joystick_teleop" pkg="teleop_twist_joy" />

</launch>
