<launch>
    <arg name="initial_x" default="0.0"/>
    <node name="record" pkg="mirv_control" type="record.py"/>
    <node name="TruckCoordinateConversion" pkg="mirv_control" type="globalToTruck.py"/>

    <!-- Start RViz for visualization -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find mirv_description)/rviz/mirv_sensors.rviz" />
</launch>
